site_name: htpy - HTML in Python
theme:
  name: material
  features:
    - content.code.copy
  palette:
    scheme: slate
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
