site_name: htpy - HTML in Python
repo_url: https://github.com/pelme/htpy
theme:
  name: material
  features:
    - content.code.copy
  palette:
    scheme: slate
  icon:
    logo: material/code-tags
nav:
  - index.md
  - usage.md
  - common-patterns.md
  - django.md
  - faq.md
  - references.md
markdown_extensions:
  - admonition
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - attr_list
  - md_in_html
